@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-primary: hsl(0, 0%, 4%);
    --color-bg-secondary: hsl(0, 0%, 9%);
    --color-text-primary: hsl(38, 95%, 77%);
    --color-elem-hover: hsl(37, 53%, 58%);
    --base-font: 'Rye';
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg-primary);
    font-family: var(--base-font, cursive);
}

.modes-screen {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.mode {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(10rem, 100%, 30rem);
    margin: 4vh;
    padding: 4vh;
    font-size: 5vmin;
    color: var(--color-text-primary);
    text-align: center;
    background-color: var(--color-bg-secondary);
    transition: letter-spacing 1s ease-in-out;
}

.mode img {
    width: 100%;
    pointer-events: none;
}

.mode:hover {
    cursor: pointer;
    letter-spacing: 1px;
    transform: scale(1.02)
}

.name-input-screen,
.game-board-screen,
.input-name {
    display: none;
}

.input-name {
    font-size: 5vmin;
    letter-spacing: 2px;
    margin-top: 4rem;
}

.input-name>label {
    margin-top: 4rem;
    margin-bottom: 1rem;
    color: var(--color-text-primary);
}

.name-input-screen {
    max-width: 100vw;
    min-height: 100vh;
}

input[type="text"] {
    width: clamp(2rem, 80%, 25rem);
    padding: 0.8rem;
    font-size: 5vmin;
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    border: none;
    outline: none;
    font-family: var(--base-font, cursive);
}

.btn {
    width: clamp(3rem, 60%, 12rem);
    padding: 0.5rem;
    font-size: 4vmin;
    color: var(--color-text-primary);
    letter-spacing: 2px;
    background-color: var(--color-bg-secondary);
    font-family: var(--base-font, cursive);
    border: 1px solid var(--color-elem-hover);
    transition: background-color 0.4s ease-in-out;
    border-radius: 6px;
}

.btn:hover {
    cursor: pointer;
    color: var(--color-bg-primary);
    background-color: var(--color-elem-hover);
    box-shadow: 0px 0px 8px var(--color-elem-hover);
}

.start-btn {
    margin: 4rem 0rem;
}

input[type="button"].return-btn {
    width: clamp(3rem, 30%, 8rem);
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    font-size: 2vmin;
}

.two-player-mode-input {
    width: 100%;
}

.player-turn-display {
    margin-bottom: 2rem;
    color: var(--color-text-primary);
    font-size: 2rem;
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, minmax(75px, 100px));
    grid-template-rows: repeat(3, minmax(75px, 100px));
    gap: 2px;
}

.cell {
    color: var(--color-text-primary);
    background-color: var(--color-bg-secondary);
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
}

.cell:hover {
    cursor: pointer;
    transform: scale(1.02);
    text-shadow: 1px 1px 4px var(--color-text-primary);
}

.modal {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    position: absolute;
    top: 0;
    text-align: center;
    color: var(--color-text-primary);
    transition: 1s ease-in-out all;
    animation: blur 0.3s forwards;
}

.modal-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes blur {
    0% {
        backdrop-filter: blur(2px);
        font-size: 0vmax;
    }

    25% {
        backdrop-filter: blur(4px);
        font-size: 2vmax;
    }

    50% {
        backdrop-filter: blur(6px);
        font-size: 4vmax;
    }

    75% {
        backdrop-filter: blur(8px);
        font-size: 6vmax;
    }

    100% {
        backdrop-filter: blur(10px);
        font-size: 6vmax;
    }
}

/* utils  */
.hide {
    display: none;
}

.show {
    display: block;
}

.show-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stop-click {
    pointer-events: none;
}